<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">
        <h2 class="title is-2">Sign Up</h2>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field">
            <%= f.label :name %><br />
            <%= f.text_field :name,
                              autofocus: true,
                              placeholder: "Jane Doe",
                              required: true,
                              class: "input" %>
          </div>

          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email,
                              placeholder: "user@example.com",
                              required: true,
                              class: "input" %>
          </div>

          <div class="field">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password,
                                 placeholder: "******",
                                 required: true,
                                 class: "input" %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation,
                                 placeholder: "******",
                                 required: true,
                                 class: "input" %>
          </div>

          <div class="actions">
            <%= f.submit "Sign up", class:"button is-link is-fullwidth" %>
            <span class="icon">
          <i class="fab fa-facebook"></i>
        </span>

            <%= link_to "Register with Facebook", user_facebook_omniauth_authorize_path %>

          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
