<%= form_with(model: user, local: true) do |f| %>
  <div class="field">
    <div class="control">
      <%= form.label :name, class: "label" %>
      <%= form.text_field :name, class: "input", autofocus: true %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= form.submit "Sign Up", class: "button is-primary is-large is-fullwidth" %>
    </div>
  
    
<% end %>

<%= link_to "Register with Facebook", user_facebook_omniauth_authorize_path %>
  <h3>hello</h3>
