 <h1 class="mb-4"><%= @user.name %></h1>
  <p><strong>Email: <%= @user.email %></strong></p>
 <div class="row d-flex">
    <div class="col mb-4">
        <p class="text-muted"> <%= pluralize(@user.hosted_events.count, 'event').upcase %> EVENTS HOSTED</p>
        <div class="list-group mt-3">
            <% @user.hosted_events.each do |event| %>
            <div class="list-group-item list-group-item-action d-flex">
                <%= link_to event.name, event_path(event), class: "list-group-item list-group-item-action" %>
                <%= link_to edit_event_path, class: "btn btn-outline-secondary" do %>
                    <span><i class="fas fa-edit"></i> Edit<span>
                <% end %>

                <%= link_to event_path, method: :delete, class: "btn btn-outline-secondary", data: { confirm: "Delete this event?"} do %>
                    <span><i class="far fa-trash-alt"></i> Delete<span>
                <% end %>

                </div>
            <% end %>
        </div>
    </div>

    <div class="col mb-4 text-right">
        <p class="text-muted"> <%= pluralize(@user.rsvps.count, 'event').upcase %> ATTENDED</p>
        <div class="list-group mt-3">
            <% @user.rsvps.each do |rsvp| %>
                <div class="list-group-item list-group-item-action d-flex">
                <%= link_to rsvp.event.name, event_path(rsvp.event), class: "list-group-item list-group-item-action" %>

                <%= link_to cancel_rsvp_event_path(rsvp.event), method: :delete,
                 class: "btn btn-outline-secondary", data: { confirm: "Do you no longer wish to attend this event?"} do %>
                  <span><i class="far fa-window-close"></i><br/> Cancel RSVP<span>
              <% end %>
              </div>
            <% end %>
        </div>
 </div>
