<nav class="navbar bg-primary" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <%= link_to events_path, class: "navbar-item" do %>
                <h1 class="title is-2 text-light">My Events App</h1>
            <% end %>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"  data-target="navbarMyEventApp">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            </a>

        </div>


        <div class="navbar-menu" id="navbarMyEventApp">
            <ul class="navbar-nav mr-auto">
            <% if user_signed_in? %>

                    <li class="nav-item mr-3">
                        <%= link_to "Welcome #{current_user.name}",  user_path(current_user), class: "nav-item nav-link" %>
                    </li>
                     <li class="nav-item mr-3">
                        <%= link_to 'Create Event', new_event_path, class: "nav-item nav-link" %>
                    </li>

                    <li class="nav-item mr-3">
                        <%= link_to 'My Events', user_path(id: current_user.id), class: "nav-item nav-link" %>
                    </li>
                    
                    <li class="nav-item mr-2">
                        <%= link_to 'View all Events', events_path, class: "nav-item nav-link align-items-center" %>
                    </li>

                     <li class="nav-item mr-3">
                        <%= link_to "Edit account",  edit_user_registration_path, class: "nav-item nav-link" %>
                    </li>

                    <li class="nav-item mr-3">
                        <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: "nav-item nav-link" %>
                    <li>
                <% else %>
                     <li class="nav-item mr-3">
                        <%= link_to 'Create a New Event', new_event_path, class: "nav-item nav-link" %>
                    </li>

                    <li class="nav-item mr-3">
                        <%= link_to "Sign Up", new_user_registration_path, class: "nav-item nav-link" %>
                    </li>

                    <li class="nav-item mr-3">
                        <%= link_to "Log In", new_user_session_path, class: "nav-item nav-link" %>
                    </li>
                <% end %>
            </ul>
        </div>
    </div>
</nav>