<h1>Welcome, <%= current_user.present? ? current_user[:name] : 'Stranger' %> </h1>

<h2>UPCOMING EVENTS<h2>
<div class="row card-wrapper mb-5">
<% Event.future.each do |event| %>
    <div class="col-md-4 mb-4">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title"><%= event.name.titleize %></h3>

                <p class="event-date"><%= event.start_date.strftime("%b %-d, %Y")%> </p>
                <p class="event-date"><%= event.start_time.strftime(" at %l:%M %P")%></p>
                <%= link_to 'Learn More', event_path(id: event.id), class: "btn btn-outline-primary btn-block" %>
            </div>
        </div>
     </div>
<% end %>
</div>

<h2>PAST EVENTS<h2>
<div class="row card-wrapper mb-5">
<% Event.past.each do |event| %>
    <div class="col-md-4 mb-4">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title"><%= event.name.titleize %></h3>

                <p class="event-date"><%= event.start_date.strftime("%b %-d, %Y")%> </p>
                <p class="event-date"><%= event.start_time.strftime(" at %l:%M %P")%></p>
                <%= link_to 'Learn More', event_path(id: event.id), class: "btn btn-outline-primary btn-block" %>
            </div>
        </div>
     </div>
<% end %>
</div>