<h1>Welcome, <%= current_user.present? ? current_user[:name] : 'Stranger' %> </h1>

<% @events.each do |event| %>
    <div class="row mb-5">
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                <h3><%= event.name.titleize %></h3>

                <%= event.start_date.strftime("%b %-d, %Y")%>
                <%= event.start_time.strftime(" at %l:%M %P")%> 
                <%= link_to 'Learn More', event_path(id: event.id), class: "btn btn-outline-primary btn-block" %>
                </div>
            </div>
        </div>
    </div>
<% end %>