<div class="container">

    <section class="row mb-4 header">
        <div class="col">
            <h1>Welcome, 
                <%= current_user.present? ? current_user[:name] : 'Stranger' %> 
            </h1>
        </div>

        <div class="col">
            <%= link_to 'Create Event', new_event_path, 
            class: "btn-primary btn-rounded btn-lg mt-4 float-right" %>
        </div>
    </section>
  
    <section class="events-container mb-4">
        <% if !Event.today.empty? %>
            <section class="today-row">
                <header class="section-title">
                    <h3>HAPPENING TODAY</h3>    
                </header>

                <div class="row">
                    <div class="card-wrapper mb-5">
                        <% Event.today.each do |event| %>
                            <%= render partial: 'event_card', :locals => { event: event} %>
                        <% end %>
                    </div>
                </div>
            </section>
        <% end %>

        <% if !Event.future.empty? %>
            <section class="future-row">
                <header class="section-title">
                    <h3>UPCOMING EVENTS</h3>    
                </header>


                <div class="row">
                    <div class="card-wrapper mb-5">
                        <% Event.future.each do |event| %>
                            <%= render partial: 'event_card', :locals => { event: event} %>
                        <% end %>
                    </div>
                </div>
            </section>
        <% end %>

        <% if !Event.past.empty? %>
            <section class="past-row">
                <div class="row">
                    <header class="section-title">
                        <h3>PAST EVENTS</h2>    
                    </header>
                </div>


                <div class="row">
                    <div class="card-wrapper mb-5">
                        <% Event.future.each do |event| %>
                            <%= render partial: 'event_card', :locals => { event: event} %>
                        <% end %>
                    </div>
                </div>
            </section>
        <% end %>
    </section>

</div> <%# container %>