
<div class="row page-wrapper">

  <section class="event-page">

  <header class="row mb-5" id="event-show-page">

    <div class="row header col xs-12 col-sm-6">
        <h2><%= @event.name %></h2>
    </div>

    <div class="col xs-12 col-sm-6 rsvp-or-edit">
      <%= render partial: 'rsvp_edit_or_delete', :locals => { event: @event} %>
    </div>

  </header>

  <section class="row mb-4 event-details">

    <%# <----------DESCRIPTION-------------> %>
    <div class="col-xs-12 col-sm-6 description">
        <%= simple_format @event.description %>
    </div>

    <div class="col-xs-12 col-sm-6" id="event-extra-details">
      <p><span class="icon"><i class="fa fa-user-circle" aria-hidden="true"></i></span>
      Hosted by: <%= @event.host.name %>
      </p>

      <p class="pb-3"><span>
      <i class="fa fa-map-marker" aria-hidden="true"></i> 
        <%= @event.location %>
      </span>
      </p>
      <p class="pb-3">
      <span class="icon">
        <i class="fa fa-calendar" aria-hidden="true"></i>
      </span>

      <%= convert_to_human_readable_date(@event.start_date) %>
      <%= convert_to_human_readable_time(@event.start_time) %> -<br/>

      <% if (@event.start_date - @event.end_date).to_i == 0 %>
      <%= convert_to_human_readable_time(@event.end_time) %>
      <% else %>
        <%= convert_to_human_readable_date(@event.end_date)%>
        <%= convert_to_human_readable_time(@event.start_time)%>
      <% end %>
      </p>
    </div>

  </section>

  <section class="event-guests col-xs-12 pb-3 mb-3 border-bottom border-light">
      <div class="header mb-2">
        <h4>EVENT GUESTS</h4>
      </div>

          <div class="mb-4">
          <% if !@event.guests.empty? %>
          <ul class="list-group">
            <% @event.guests.each do |guest| %>
              <li class="list-group-item"> 
                <%= guest.name %>
              </li>
            <% end %>
          </ul>
          <% else %>
            <ul class="list-group">
              <li class="list-group-item text-muted">This event has no guests yet</li>
          </ul>      
          <% end %>
          </div>
    </section>

  <section class="event-comments col-xs-12 pb-3 mb-3 border-bottom border-light">
    <section class="all-comments">
      <div class="row header mb-2">
        <h4>COMMENTS</h4>
      </div>

      <div class="row">
          <ul class="comments list-group">
            <% @event.comments.each do |comment| %>
              <li>
                <p><%= comment.content %></p>
                <p class="small">Commented by <%= comment.user.name %> <br>
              at <%= convert_to_human_readable_time(comment.created_at) %> </p>
              </li>

                  <% if comment.user_id == current_user.id %>
        
                  <%= link_to edit_comment_path(comment.id) do %>
                      <span class="mr-2"><i class="fas fa-edit"></i> Edit</span>
                  <% end %>

                  <%= link_to event_path(comment.commented_event_id), 
                  method: :delete, data: { confirm: "Delete this comment?"} do %>
                      <span><i class="far fa-trash-alt"></i> Delete</span>
                  <% end %>
                <% end %>
            <% end %>
          </ul>
      </div>
    </section>

    <section class="add-new-comment">
      <div class="add-new-comment">
          <%= render 'comments/form' %>
      </div>
    <section>
  </section>
</div>
      

