
<div class="row page-wrapper">

  <section class="event-page">

  <header class="row mb-5" id="event-show-page">

    <div class="row header col xs-12 col-sm-6">
        <div class="row">
          <h2><%= @event.name %></h2>
          <div class ="event-facts">

            <p class="small mb-1 d-block">Attendees: 
              <i class="fa fa-user-friends"></i>
            <%= pluralize(@event.guests.count, "attendees") %>
            </p>
        <% if Event.past.include?(@event) %>
            <p class="small mb-1 d-block">Average rating: 
              <%if @event.comments.average(:rating).to_i == 0 %> 
                  <i class="fa fa-star"></i>
              <% else %>
                <%= @event.comments.average(:rating).to_i.times do %>
                    <i class="fa fa-star"></i>
                <% end %>
              <% end %>
            <%= pluralize(@event.comments.average(:rating).to_i, "star") %>
            </p>

            <p class="small">Number of comments: 
            <i class="fa fa-comment"></i>
            <%= pluralize(" #{@event.comments.count}", "comment") %>
            </p>
            <% end %>
          </div>
        </div>
    </div>

    <div class="col xs-12 col-sm-6 rsvp-or-edit">
      <%= render partial: 'rsvp_edit_or_delete', :locals => { event: @event} %>
    </div>

  </header>

  <section class="row mb-4 event-details">

    <%# <----------DESCRIPTION-------------> %>
    <div class="col-xs-12 col-sm-6 description">
        <%= simple_format @event.description %>
    </div>

    <div class="col-xs-12 col-sm-6" id="event-extra-details">
      <p><span class="icon"><i class="fa fa-user-circle" aria-hidden="true"></i></span>
      Hosted by: <%= @event.host.name %>
      </p>

      <p class="pb-3"><span>
      <i class="fa fa-map-marker" aria-hidden="true"></i> 
        <%= @event.location %>
      </span>
      </p>
      <p class="pb-3">
      <span class="icon">
        <i class="fa fa-calendar" aria-hidden="true"></i>
      </span>

      <%= convert_to_human_readable_date(@event.start_date) %>
      <%= convert_to_human_readable_time(@event.start_time) %> -<br/>

      <% if (@event.start_date - @event.end_date).to_i == 0 %>
      <%= convert_to_human_readable_time(@event.end_time) %>
      <% else %>
        <%= convert_to_human_readable_date(@event.end_date)%>
        <%= convert_to_human_readable_time(@event.start_time)%>
      <% end %>
      </p>
    </div>

  </section>

  <section class="event-guests col-xs-12 pb-3 mb-3 border-bottom border-light">
      <div class="header mb-2">
        <h4>EVENT GUESTS</h4>
      </div>

          <div class="mb-4">
          <% if !@event.guests.empty? %>
          <ul class="list-group">
            <% @event.guests.each do |guest| %>
              <li class="list-group-item"> 
                <%= guest.name %>
              </li>
            <% end %>
          </ul>
          <% else %>
            <ul class="list-group">
              <li class="list-group-item text-muted">This event has no guests yet</li>
          </ul>      
          <% end %>
          </div>
    </section>

  <% if Event.past.include?(@event)%>
  <section class="event-comments col-xs-12 pb-3 mb-3 border-bottom border-light"> 
    <section class="all-comments">
      <div class="row header mb-2">
        <h4>COMMENTS</h4>
      </div>

      <div class="row">
          <ul class="comments list-group">
            <% @event.comments.each do |comment| %>
                  <li>
                    <p><%= comment.content %></p>
                    <p class="small">Commented by <%= comment.user.name %> <br>
                      <%= convert_to_human_readable_date(comment.created_at) %> </p>
                      at <%= convert_to_human_readable_time(comment.created_at) %> </p>
                  <% if comment.rating %>
                  <p>
                  <% comment.rating.times do %>
                       <i class="fa fa-star"></i>
                     <% end %>
                     <%= pluralize(comment.rating, "star") %>
                  <p>
                  <% end %>

                <% if comment.user_id == current_user.id %>
                  <%= link_to edit_comment_path(comment.id) do %>
                      <span class="mr-2"><i class="fas fa-edit"></i> Edit</span>
                  <% end %>

                  <%= link_to comment_path(comment.id), 
                  method: :delete, data: { confirm: "Delete this comment?"} do %>
                      <span><i class="far fa-trash-alt"></i> Delete</span>
                  <% end %>
                <% end %>
            <% end %>
          </ul>
      </div>
    </section>

    <section class="add-new-comment">
      <div class="add-new-comment">
      <h4>ADD A COMMENT</h4>
          <%= render 'comments/form' %>
      </div>
    <section>
  </section>
  <% end %>
</div>

