<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">

        <div class="row mb-4">
          <div class="col title">
            <h2><%= @event.name %></h2>
            
          </div>
        </div>
        
        <div class="col text-right rsvp-or-edit">
            <%# ABILITY TO RSVP %>
            <% if current_user == @event.host %>
                <%= link_to 'Edit', edit_event_path, class: "btn btn-outline-secondary" %>

                <%= link_to 'Delete', event_path, method: :delete, class: "btn btn-outline-secondary", data: { confirm: "Delete this event?"} %>

            <% elsif @event.guests.include?(current_user) %>
              <%= link_to 'Cancel RSVP', cancel_rsvp_event_path, class: "btn btn-outline-secondary" %>

            <% else %>
              <%= link_to 'RSVP', rsvp_event_path, class: "btn btn-primary" unless @event.end_time < Time.now && @event.end_time < Date.today %>
            <% end %>
          </div>
        </div>

        <div class="row mb-4 event-details-outer-wrapper">
          <section class="col text-left description">
            <div class="card-body">
                  <p class="desc-text"> 
                    <%= simple_format @event.description %> 
                  </p>
            </div>
          </section>
        


        <section class="col text-right" id="event-extra-details">
          <div class="card-body">
          <p>
            <span class="icon">
              <i class="fa fa-user-circle" aria-hidden="true"></i>
            </span>
            Hosted by: <%= @event.host.name %>
          </p>
          
          <p>
            <span class="icon">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
            </span>
            <%= @event.location %>
          </p>

          <p class="pb-3">
            <span class="icon">
              <i class="fa fa-calendar" aria-hidden="true"></i>
            </span>
            <%= @event.start_date.strftime("%b %-d, %Y")%>
            <%= @event.start_time.strftime(" at %l:%M %P")%> -<br/>
            <% if (@event.start_date - @event.end_date).to_i == 0 %>
              <%= @event.end_time.strftime("%l:%M %P") %>
            <% else %>
              <%= @event.end_date.strftime("%b %-d, %Y")%>
              <%= @event.end_time.strftime(" at %l:%M %P")%>
            <% end %>
          </p>
        </section>


        </div>
        </div>

        <div class="row mb-4">
          <div class="col">
        <h3>EVENT GUESTS</h3>

        <% if @event.guests.empty? %>
        <div class="list-group">
        <li class="list-group-item text-muted">This event has no guests yet</li>
        </div>
        <% else %>
        <div class="list-group">
        <% @event.guests.each do |guest| %>
        <li class="list-group-item"> <%= guest.name %> </li>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</section>

            
          
      

