
        <h2 class="title"><%= @event.name.titleize %><h2>

          

          <h4><%= @event.location %></h4>

          <div>

          <% if current_user == @event.host %>
            <%= link_to 'Edit', edit_event_path, class: "btn btn-outline-secondary" %>
            <%= link_to 'Delete', event_path, method: :delete, class: "btn btn-outline-secondary", data: { confirm: "Delete this event?"} %>

          <% elsif @event.guests.include?(current_user) %>
            <%= link_to 'Cancel RSVP', cancel_rsvp_event_path, class: "btn btn-outline-secondary" %>
          <% else %>
            <%= link_to 'RSVP', rsvp_event_path, class: "btn btn-primary" unless @event.end_time < Time.now %>
          <% end %>
          <p><strong><%= @event.start_date.strftime("%b %-d, %Y")%>
            <%= @event.start_time.strftime(" at %l:%M %P")%> - </strong></p>
            <% if (@event.start_date - @event.end_date).to_i == 0 %>
              <p><strong> <%= @event.end_time.strftime("%l:%M %P") %> </strong></p>
            <% else %>
              <p><strong> <%= @event.end_date.strftime("%b %-d, %Y")%>
              <%= @event.end_time.strftime(" at %l:%M %P")%> </p></strong>
            <% end %>

        <p><%= @event.description %><p>

        <h4>Host: <%= @event.host.name %> </h4>

        <p>EVENT GUESTS</p>

        <% if @event.guests.empty? %>
        <div class="list-group">
          <li class="list-group-item text-muted">This event has no guests yet</li>
        </div>
        <% else %>
          <div class="list-group">
            <% @event.guests.each do |guest| %>
            <li class="list-group-item"> <%= guest.name %> </li>
            <% end %>
          </div>
        <% end %>

            
          
      

